# Node modules
node_modules

# Design & Git Ignore & backend
design/
backend/
.gitignore

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
out/
.next/

# Dependency directories
jspm_packages/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Coverage directory
coverage/

# Cache
.cache/
.vercel
.env*.local

# Creating Routes
createRoute.js